<div class="autoscroll">
<%
def to_utf_8_for_attach(content)
begin
  Redmine::CodesetUtil.to_utf8_by_setting(content)
rescue NoMethodError
  to_utf8_for_attachments(content)
end
%>
<%=syntax_highlight(filename, to_utf8_for_attach(content)) %>
</div>
